pydantic>=2.0,<3.0
srsly>=2.4.0,<3.0.0
# Development requirements
catalogue>=2.0.3,<2.1.0
pathy>=0.3.5
pytest>=5.2.0,!=7.1.0
mypy>=1.7.0,<1.8.0; platform_machine != 'aarch64'
numpy>=1.15.0
black>=22.0,<23.0
flake8>=3.8.0,<6.0.0
isort>=5.0,<6.0
